@page
@model Restaurant_Project.Pages.Menus.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Appetizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Appetizer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MainCourse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.MainCourse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Dessert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Dessert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Count)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Menu.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
