@page
@model Restaurant_Project.Pages.Menus.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Appetizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Appetizer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.MainCourse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.MainCourse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Dessert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Dessert)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
